<log4net>
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <file type="log4net.Util.PatternString">
      <converter>
        <name value="folder" />
        <type value="Omega.Main.Configuration.LoggerHelper,Omega.Main" />
      </converter>
      <conversionPattern value="%folder\log\info.txt" />
    </file>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <param name="StaticLogFileName" value="true"/>
    <appendToFile value="true" />
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="yyyy-MM-dd"/>
    <maximumFileSize value="1MB" />
    <maxSizeRollBackups value="1" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="WARN" />
    </filter>
  </appender>

  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <file type="log4net.Util.PatternString">
      <converter>
        <name value="folder" />
        <type value="Omega.Main.Configuration.LoggerHelper,Omega.Main" />
      </converter>
      <conversionPattern value="%folder\log\error.txt" />
    </file>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <param name="StaticLogFileName" value="true"/>
    <appendToFile value="true" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="1" />
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="yyyy-MM-dd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %type.%method - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="InfoAppender" />
    <appender-ref ref="ErrorAppender" />
  </root>

</log4net>